@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);


/*ACCORDION CALCULATOR*/
h1, h2 {
  font-family: 'Coming Soon';
  font-size: 40px;
  color: #ed1144;
}

h1 {
  padding-top: 10px;
}
#accordion,
#accordion ul,
#accordion li,
#accordion a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#accordion a {
  line-height: 2.5;
}

#accordion {
  max-width: 600px;
}
#accordion > ul > li > a {
  /*padding-right: 40px;*/
  font-size: 25px;
  font-weight: bold;
  display: block;
  /*background: #bd0e36;*/
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
  /*position: relative;*/
}
#accordion > ul > li > a > span {
  /*background: #ed1144;*/
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}





 /* background: rgb(231, 231, 231);*/ /* Fall-back for browsers that don't support rgba */
 /* background: rgba(231, 231, 231, .8);*/


#accordion > ul > li > a:hover {
  text-decoration: none;
}
#accordion > ul > li.active {
  border-bottom: none;
}
#accordion > ul > li.active > a {
  color: #fff;
}

/*is this being used for anything?*/
#accordion > ul > li.active > a span {
  background: #bd0e36;
}

#accordion ul ul {
  display: none;
}
#accordion ul ul li {
  /*border: 1px solid #e0e0e0;*/
  border-top: 0;
}
#accordion ul ul a {
  padding: 10px;
  display: block;
  /*color: #ed1144;*/
  color: white;
  font-size: 13px;
}
#accordion ul ul a:hover {
  /*color: #bd0e36;*/
  color: white;
}
#accordion ul ul li.odd {
  /*background: #f4f4f4;*/
  /*opacity: .7;*/
}
#accordion ul ul li.even {
  /*background: #fff;*/
  /*opacity: .7;*/
}
/*#accordion > ul > li > ul {
    background: rgb(243, 243, 243);  *//*Fall-back for browsers that don't support rgba */
/*  background: rgba(243, 243, 243, .3);
  border-radius: 10px;
}*/

#submit,
#reset {
  padding: 10px;
  margin-top: 20px;
  color: white;
  background: none;
  font-size: 15px;
  border: 1px solid white;
}

/*body {
  background: black;
}*/

.calc-body {
  /*border: 2px solid #ed1144;*/
  max-width: 700px;
  margin-top: 30px;

}

.calc-body h1,
.user-trips h1 {
    font-family: 'Lobster Two';
    color: white;
}

.calc-body h2 {
    font-family: 'Lobster Two';
    color: white;
}

/*.calc h2 #total {
  font-size: 10px;
}*/



/*input {
  padding: 5px;
}*/

/*APPLICATION*/

html,
body, 
header {
  padding: 0;
  margin: 0;
      /*height: 100%;*/
}

.navbar {
  background: none;
  border-color: none;
/*  font-family: 'Gloria Hallelujah';
  color: #ed1144;*/
  border-radius: 0;
  border: 0px;
}

.nav,
.navbar,
.navbar-default,
.navbar-collapse,
.collapse,
.navbar-responsive-collapse {
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav a,
.nav a:visited,
.active a,
.active a:visited,
.navbar-nav a,
.navbar-nav a:visited,
.navbar-header
/*.navbar li a */{
  font-family: 'Open Sans';
  font-size: 13px;
}

a,
a:visited {
    color: #ed1144;
    text-decoration: none;
    background: none;
}

a:hover {
  text-decoration: none;
  background: none;
}

.nav a:hover,
.active a:hover,
.navbar-nav a:hover, {
    color: #ed1144;
}




 
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ed1144;
}


/*.divider {
  height: 50px;
}*/

.index-cover {
  height: 750px;
  background: black;
  background-attachment: fixed;
  background-size: cover;
  background-image: image-url("sjds.jpg");

}

.index-cover,
#index-cover {
  padding-top: 0;
  margin-top: 0;
}

.index-cover h1,
#index-cover h1,
.index-cover h2,
#index-cover h2 {
  color: white;

}
.index-cover h1 {
  font-family: 'Lobster Two';
  font-size: 100px;
}

.index-cover h2, 
.user-trips h2  {
  font-family: 'Josefin Sans';
  color: white;
}

.new-entry-link {
    font-family: 'Josefin Sans';
    font-size: 30px;
}

.field label, 
label,
.field input,
.field textarea {
    font-family: 'Josefin Sans';
    font-size: 15px;
}

/*#field {
  height: 50px;
}
*/


.index-description {
  height: 750px;
  background: black;
  background-attachment: fixed;
  /*background-size: cover;*/
    /*background-image: image-url("thailand2.jpg");*/
}

.index-authors {
  height: 750px;
  background: black;
  background-attachment: fixed;
  background-size: cover;
      background-image: image-url("carta.jpg");
}

.calc {
  /*height: 100vh;*/
/*  background-size: cover;
     background-image: image-url("sjds.jpg");*/
     /*background: #cccccc;*/
     height: 100%;
}

/*.calc-modal {
  height: 400px;
}
*/
.new-trip {
    height: 100vh;
  background-size: cover;
     background-image: image-url("market1.jpg");
}

.edit-trip {
    height: 100vh;
  background-size: cover;
     background-image: image-url("thailand1.jpg");
}

/*profile page*/
.user-trips {
/*height: 100vh;*/
/*height: 100%;*/
  background-size: cover;
  /*height: 100%;*/
       background-image: image-url("thailand2.jpg");
       background-image: no-repeat;
}

.user-trips img {
  border-radius: 50px;

}

/*.user-trips #accordion a {
  line-height: 1;
}*/

.show-trip {
  height: 100vh;
  background-size: cover;
  
       background-image: image-url("thailand2.jpg");
}

.navbar-default .navbar-brand {
  color: #ed1144;
  font-family: 'Lobster Two';
}

#notice {
  color: white;
  /*background: black;*/
    background: rgb(237, 17, 68); /* Fall-back for browsers that don't support rgba */
  background: rgba(237, 17, 68, .6);
}

#accordion p {
  color: white;
}

/*.modal-trip {
  opacity: 0;
}

.modal-trip:click {
  opacity: 1;
}*/

.index-cover p {
  color: white;
  font-family: 'Open Sans';
  font-size: 20px;
}

.index-cover p span {
  color: grey;
  opacity: 0;
}

input {
  color: black;
 /* height: 75px;
  border-radius: 5px;
  font-size: 14px;
  width: 300px;*/
}

/*.pink-link a,
.pink-link a:visited {
  color: #ed1144;
}

.pink-link a:hover {
  color: black;
}*/



/*MODAL*/

/* About Modal */
.modalDialog {
  position: fixed;
  overflow: scroll;
  /*font-family: Arial, Helvetica, sans-serif;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #222622;
/*background: white;*/
  /*background-image: image-url("sjds.jpg");*/
  /*background-image: cover;*/

  background: -webkit-linear-gradient(black, #ed1144, green, grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, #ed1144, green, grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, #ed1144, green, grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, #ed1144, green, grey); /* Standard syntax */
background: #222622;
  z-index: 99999;
  opacity:0;
  transition-duration: 1.6s;
  transition-property: opacity;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;*/
  pointer-events: none;
  /*font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
  transition-duration: 1.6s;
}

.modalDialog > .modal-box {
  width: 50%;
  position: relative;
  /*margin: 10% auto;*/
  /*padding: 5px 20px 13px 20px;*/
  /*border-radius: 0px;*/
  color: #ffffff;
}

.modalDialog h2, h3 {
  color: #ffffff;
  padding-top: 10px;
}

/*h1 {
  text-align: center;
}*/

/*.modal-text h1 {
  text-align: center;
}*/
/*h3 {
  color: white;
  font-family: 'Coming Soon';
}*/


.close {
  color: white;
}

.close a {
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-size: 100px;
  top: -20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.nav, .nav a {
  color: white;
}

.close:hover { color: #ffffff; }

#openModal .field input,
#openModal textarea {
  color: black;
  /*border-radius: 5px;*/
  padding: 5px;
  padding-left: 100px;
  padding-right: 100px;
  background: white;
     /*background: rgb(237, 17, 68);  Fall-back for browsers that don't support rgba */
  /*background: rgba(237, 17, 68, .6);*/
  border: none;
  font-size: 20px;
}

/*#openModal .checkbox_container .field input {
  width: 300px;
}*/

#openModal .actions input {
  padding: 10px;
  margin-top: 20px;
  color: white;
  background: none;
  font-size: 15px;
  border: 1px solid white;
}

/*MODAL2*/

/* About Modal */
.modalDialog2 {
  position: fixed;
  overflow: scroll;
  width: 400px;
  /*height: 1000px;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  top: 0;
  /*right: 0;*/
  bottom: 0;
  left: 0;
  background: #222622;
/*background: white;*/
  /*background-image: image-url("sjds.jpg");*/
  /*background-image: cover;*/

  background: -webkit-linear-gradient(black, #ed1144, green, grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, #ed1144, green, grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, #ed1144, green, grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, #ed1144, green, grey); /* Standard syntax */
background: #222622;
  z-index: 99999;
  opacity:0;
  transition-duration: 1.6s;
  transition-property: opacity;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;*/
  pointer-events: none;
  /*font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.modalDialog2:target {
  opacity: .95;
  pointer-events: auto;
  transition-duration: 1.6s;
}

.modalDialog2 > .modal-box2 {
  width: 50%;
  position: relative;
  /*margin: 10% auto;*/
  /*padding: 5px 20px 13px 20px;*/
  /*border-radius: 0px;*/
  color: #ffffff;
}

.modalDialog2 h2, h3 {
  color: #ffffff;
  padding-top: 10px;
}

/*h1 {
  text-align: center;
}*/

/*.modal-text h1 {
  text-align: center;
}*/
/*h3 {
  color: white;
  font-family: 'Coming Soon';
}*/


.close2 {
  color: white;
}

.close2 a {
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-size: 100px;
  top: -20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.nav, .nav a {
  color: white;
}

.close2:hover { color: #ffffff; }

#openModal2 .field input,
#openModal2 textarea {
  color: black;
  /*border-radius: 5px;*/
  width: 600px;
  padding: 5px;
  background: white;
     /*background: rgb(237, 17, 68);  Fall-back for browsers that don't support rgba */
  /*background: rgba(237, 17, 68, .6);*/
  border: none;
  font-size: 20px;
}

#openModal2 .actions input {
  padding: 10px;
  margin-top: 20px;
  color: white;
  background: none;
  font-size: 15px;
  border: 1px solid white;
}

/*.checkbox_container {
  width: 300px;


}

.checkbox-field input,
.checkbox-field checkbox,
checkbox {
  width: 300px;
}*/