
//= depend_on_asset "main-background.jpg"
//= depend_on_asset "thailand1.jpg"
//= depend_on_asset "thailand2.jpg"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "bangkok.jpg"
//= depend_on_asset "cartagena.jpg"
//= depend_on_asset "carta.jpg"
//= depend_on_asset "granada.jpg"
//= depend_on_asset "market1.jpg"
//= depend_on_asset "abstract.jpeg"

@import url('//fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import url('//fonts.googleapis.com/css?family=Lobster+Two');
@import url('//fonts.googleapis.com/css?family=Josefin+Sans');
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

/*ACCORDION CALCULATOR*/
h1, h2{
  font-size: 40px;
  color: rgb(237,17,68);
}

h2{
  color: rgb(255, 185, 209);
}

h2 {
  margin-bottom: 18px;
}

h1 {
  padding-top: 10px;
}
#accordion,
#accordion ul,
#accordion li,
#accordion a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  position: relative;
}
#accordion a {
  line-height: 2.5;
}

#accordion {
  max-width: 600px;
}
#accordion > ul > li > a {
  /*padding-right: 40px;*/
  font-size: 25px;
  font-weight: bold;
  display: block;
  /*background: #bd0e36;*/
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  text-transform: uppercase;
  /*position: relative;*/
}

#accordion > ul > li > a:hover {
  color: rgb(255, 255, 255);
}

#accordion > ul > li > a {
  padding: 10px;
  display: block;
  font-size: 17px;
  font-weight: 300;
}


 /* background: rgb(231, 231, 231);*/ /* Fall-back for browsers that don't support rgba */
 /* background: rgba(231, 231, 231, .8);*/


#accordion > ul > li > a:hover {
  text-decoration: none;
}
#accordion > ul > li.active {
  border-bottom: none;
}
#accordion > ul > li.active > a {
  color: rgb(255, 255, 255);
}

/*is this being used for anything?*/
#accordion > ul > li.active > a span {
  background: rgb(189,14,54);
}

#accordion ul ul {
  display: none;
}
#accordion ul ul li {
  /*border: 1px solid #e0e0e0;*/
  border-top: 0;
}
#accordion ul ul a {
  padding: 10px;
  display: block;
  /*color: rgb(237,17,68);*/
  color: rgb(255, 255, 255);
  font-size: 13px;
}
#accordion ul ul a:hover {
  /*color: #bd0e36;*/
  color: rgb(255, 255, 255);
}
#accordion span {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-style: italic;
    font-weight:900 !important;
    
}

#accordion ul.expenses{
  color: rgb(112,128,144) !important;
}

li.odd span{
  font-family: 'Playfair Display', serif !important;
  color: rgb(000, 000, 000) !important;
  font-size: 14px !important;
  font-style: italic !important;
}
li.even span{
  font-family: 'Playfair Display', serif !important;
  color: rgb(000, 000, 000) !important;
  font-size: 14px !important;
  font-style: italic !important;
}

li.even input{
  width: 187px !important;
}
li.odd input{
  width: 187px !important;
}
#accordion li.even a, li.odd a{
  background-color: rgb(255, 185, 209);
}
#accordion li.even, li.odd{
  background-color: rgb(255, 185, 209);
  // background: rgb(237,17,68) !important;
}

/*#accordion > ul > li > ul {
    background: rgb(243, 243, 243);  *//*Fall-back for browsers that don't support rgba */
/*  background: rgba(243, 243, 243, .3);
  border-radius: 10px;
}*/


#submit,
#reset {
  padding: 10px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background: none;
  font-size: 15px;
  border: 1px solid rgb(255, 255, 255);
}

/*body {
  background: black;
}*/

.calc-body {
  // border: 3px double rgb(237,17,68);
  // border-spacing: 10px 50px;
  max-width: 700px;
  margin-top: 30px;

}

.calc-body h1,
.user-trips h1 {
    font-family: 'Poiret One', cursive;
    color: rgb(255, 255, 255);
}


.best_in_place {
  color: rgb(000, 000, 000) !important;
}

/*.calc h2 #total {
  font-size: 10px;
}*/



/*input {
  padding: 5px;
}*/

/*APPLICATION*/

html,
body, 
header {
  padding: 0;
  margin: 0;
      /*height: 100%;*/
}

.navbar {
  background: none;
  border-color: none;
/*  font-family: 'Gloria Hallelujah';
  color: rgb(237,17,68);*/
  border-radius: 0;
  border: 0px;
}

.nav,
.navbar,
.navbar-default,
.navbar-collapse,
.collapse,
.navbar-responsive-collapse {
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav a,
.nav a:visited,
.active a,
.active a:visited,
.navbar-nav a,
.navbar-nav a:visited,
.navbar-header
/*.navbar li a */{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

a,
a:visited {
    color: rgb(237,17,68);
    text-decoration: none;
    background: none;
}

a:hover {
  text-decoration: none;
  background: none;
}

.nav a:hover,
.active a:hover,
.navbar-nav a:hover, {
    color: rgb(237,17,68);
}



.navbar img {
  border-radius: 50px;
  margin-bottom: 5px;
  padding:5px;

}
 
.navbar-default .navbar-nav > li > a {
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(237,17,68);
}


/*.divider {
  height: 50px;
}*/

.index-cover {
  height: 750px;
  background: black;
  background-attachment: fixed;
  background-size: cover;
  background-image: image-url("main-background.jpg");
}

.index-cover,
#index-cover {
  padding-top: 0;
  margin-top: 0;
}

.index-cover h1,
#index-cover h1{
  color: rgb(254, 4, 94);
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
}

.index-cover h3,
#index-cover h3{
  color: rgb(255, 185, 209);
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.user-trips h4, 
h4  {
  font-family: 'Dancing Script', cursive;
  color: rgb(255, 255, 255);
  font-size: 57px;
  padding: 10px;
  text-shadow: -1px 0 rgb(237,17,68), 0 1px rgb(237,17,68), 1px 0 rgb(237,17,68), 0 -1px rgb(237,17,68);
}

.new-entry-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.field label, 
label,
.field input,
.field textarea {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

/*#field {
  height: 50px;
}
*/


.index-description {
  height: 750px;
  background: black;
  background-attachment: fixed;
  /*background-size: cover;*/
    /*background-image: image-url("thailand2.jpg");*/
}

.index-authors {
  height: 750px;
  background: black;
  background-attachment: fixed;
  background-size: cover;
      background-image: image-url("carta.jpg");
}

.calc {
  /*height: 100vh;*/
/*  background-size: cover;
     background-image: image-url("main-background.jpg");*/
     /*background: #cccccc;*/
     height: 100%;
}

/*.calc-modal {
  height: 400px;
}
*/
.new-trip {
    height: 100vh;
  background-size: cover;
     background-image: image-url("market1.jpg");
}

.edit-trip {
    height: 100vh;
  background-size: cover;
     background-image: image-url("thailand1.jpg");
}

/*profile page*/
.user-trips {
/*height: 100vh;*/
/*height: 100%;*/
  background-size: cover;
  height: 1500px;
       background-image: image-url("thailand2.jpg");
       background-image: no-repeat;
}

.user-trips img {
  border-radius: 50px;
}

/*.user-trips #accordion a {
  line-height: 1;
}*/

.show-trip {
  height: 100vh;
  background-size: cover;
  
       background-image: image-url("thailand2.jpg");
}

.navbar-default .navbar-brand {
  color: rgb(237,17,68);
  font-family: 'Dancing Script', cursive;
}

#notice {
  color: rgb(255, 255, 255) !important;
  font-size: 19px;
  font-family: "Poiret One", serif;
  background: rgb(237, 17, 68); /* Fall-back for browsers that don't support rgba */
  background: rgba(237, 17, 68, .6);
  width: 502px;
}

#accordion p {
  color: rgb(237,17,68);
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  line-height: 1.2;
  background: rgba(255, 255, 255, 0.75);
}

/*.modal-trip {
  opacity: 0;
}

.modal-trip:click {
  opacity: 1;
}*/

.index-cover p {
  color: rgb(255, 255, 255);
  font-family: 'Poiret One', cursive;
  font-size: 27px;
}

.index-cover p span {
  color: grey;
  opacity: 0;
}

input {
  color: black;
 /* height: 75px;
  border-radius: 5px;
  font-size: 14px;
  width: 300px;*/
}

/*.pink-link a,
.pink-link a:visited {
  color: rgb(237,17,68);
}

.pink-link a:hover {
  color: black;
}*/



/*MODAL*/

/* About Modal */
.modalDialog {
  position: fixed;
  overflow: scroll;
  /*font-family: Arial, Helvetica, sans-serif;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(34,38,34);
/*background: rgb(255, 255, 255);*/
  /*background-image: image-url("main-background.jpg");*/
  /*background-image: cover;*/

  background: -webkit-linear-gradient(black, rgb(237,17,68), green, grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, rgb(237,17,68), green, grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, rgb(237,17,68), green, grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, rgb(237,17,68), green, grey); /* Standard syntax */
background: rgb(34,38,34);
  z-index: 99999;
  opacity:0;
  transition-duration: 1.6s;
  transition-property: opacity;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;*/
  pointer-events: none;
  /*font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
  transition-duration: 1.6s;
}

.modalDialog > .modal-box {
  width: 50%;
  position: relative;
  /*margin: 10% auto;*/
  /*padding: 5px 20px 13px 20px;*/
  /*border-radius: 0px;*/
  color: rgb(255, 255, 255);
}

.modalDialog h2, h3 {
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

/*h1 {
  text-align: center;
}*/

/*.modal-text h1 {
  text-align: center;
}*/
/*h3 {
  color: rgb(255, 255, 255);
  font-family: 'Coming Soon';
}*/


.close {
  color: rgb(255, 255, 255);
}

.close a {
  color: rgb(255, 255, 255);
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-size: 100px;
  top: -20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.nav, .nav a {
  color: rgb(255, 255, 255);
}

.close:hover { color: rgb(255, 255, 255); }

#openModal .field input,
#openModal textarea {
  color: black;
  /*border-radius: 5px;*/
  /*width: 300px;*/
 padding-left: 100px;
 padding-right: 100px;

 padding-top: 5px;
 padding-bottom: 5px;

  background: rgb(255, 255, 255);
     /*background: rgb(237, 17, 68);  Fall-back for browsers that don't support rgba */
  /*background: rgba(237, 17, 68, .6);*/
  border: none;
  font-size: 20px;
}

#openModal .actions input {
  padding: 10px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background: none;
  font-size: 15px;
  border: 1px solid rgb(255, 255, 255);
}

/*MODAL2*/

/* About Modal */
.modalDialog2 {
  position: fixed;
  overflow: scroll;
  width: 400px;
  /*height: 1000px;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  top: 0;
  /*right: 0;*/
  bottom: 0;
  left: 0;
  background: rgb(34,38,34);
/*background: rgb(255, 255, 255);*/
  /*background-image: image-url("main-background.jpg");*/
  /*background-image: cover;*/

  background: -webkit-linear-gradient(black, rgb(255, 255, 255), green, grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, rgb(255, 255, 255), green, grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, rgb(255, 255, 255), green, grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, rgb(255, 255, 255), green, grey); /* Standard syntax */
background: rgb(34,38,34);
  z-index: 99999;
  opacity:0;
  transition-duration: 1.6s;
  transition-property: opacity;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;*/
  pointer-events: none;
  /*font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.modalDialog2:target {
  opacity: .95;
  pointer-events: auto;
  transition-duration: 1.6s;
}

.modalDialog2 > .modal-box2 {
  width: 50%;
  position: relative;
  /*margin: 10% auto;*/
  /*padding: 5px 20px 13px 20px;*/
  /*border-radius: 0px;*/
  color: rgb(255, 255, 255);
}

.modalDialog2 h2, h3 {
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

/*h1 {
  text-align: center;
}*/

/*.modal-text h1 {
  text-align: center;
}*/
/*h3 {
  color: rgb(255, 255, 255);
  font-family: 'Coming Soon';
}*/


.close2 {
  color: rgb(255, 255, 255);
}

.close2 a {
  color: rgb(255, 255, 255);
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-size: 100px;
  top: -20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.nav, .nav a {
  color: rgb(255, 255, 255);
}

.close2:hover { color: rgb(255, 255, 255); }

#openModal2 .field input,
#openModal2 textarea {
  color: black;
  /*border-radius: 5px;*/
  /*width: 600px;*/
  padding: 5px;
  background: rgb(255, 255, 255);
     /*background: rgb(237, 17, 68);  Fall-back for browsers that don't support rgba */
  /*background: rgba(237, 17, 68, .6);*/
  border: none;
  font-size: 20px;
}

#openModal2 .actions input {
  padding: 10px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background: none;
  font-size: 15px;
  border: 1px solid rgb(255, 255, 255);
}

.new-entry-link a {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  padding-top: 10px;
  background: rgb(237,17,68);
}

.new-entry-link a:hover{
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

#submit:hover, #reset:hover{
  background-color: rgba(237,17,68,.65);
}

#total{
  font-family: "Dancing Script", cursive;
  color: rgb(237,17,68);
}


