<a href="#openModal">New Entry</a>

<div id="openModal" class="modalDialog">
  <div class="modal-box"><br>
    <a href="#close" title="Close" class="close">CLOSE</a>
    <div class="modal-text">
   <!--  <center> -->
<!-- <div class="new-trip"> -->
<%#= render 'layouts/header' %>



<%= render 'layouts/form' %>

<%#= link_to 'Back', current_user %>
<!-- </div> -->
<!-- </center> -->
    </div>
  </div>
</div>



