<a href="#openModal">New Entry</a>
<div id="openModal" class="modalDialog">
  <div class="modal-box"><br>
    <a href="#close" title="Close" class="close">CLOSE</a>
    <div class="modal-text">
      <%= render 'layouts/form' %>
    </div>
  </div>
</div>



